{% extends 'main/base.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div>

        <img vspace="5" hspace="100" src="{% static 'main/img/Maria.JPG'%}" width="278" alt="Maria" align="left" >
        <p style="margin-top: 20px; margin-right: 100px" align="justify" ><font size="6">Дизайн интерьера под ключ.
            Комплексный ремонт квартир.</font></p>
        <p style="margin-top: 20px; margin-right: 100px" align="justify"><font size="4">Студия дизайна Maria's Studio –
            это сочетание стиля и индивидуальности. Наша команда тщательно и с особым вниманием разрабатывает
            неповторимые проекты в ритме современной жизни, которые обеспечивают функциональность, эстетику и комфорт
            для наших заказчиков.</font></p>
        <p style="margin-top: 20px; margin-right: 100px" align="justify"><font size="4">Дизайн-студия интерьеров Maria's studio
            разработает эксклюзивный дизайн интерьера и возьмет на себя все заботы, связанные с ремонтом.</font></p>
        <p style="margin-top: 20px; margin-right: 100px" align="justify"><font size="4">Опираясь на наш опыт, грамотно сочетаем объемы и
            пропорции, продумываем эргономику пространства. Каждый проект нашей студии дизайна интерьера уникален и
            отражает архитектурные приемы, которые передаются в чистоте геометрических форм и разнообразии применяемых
            материалов.</font></p>
        <p style="margin-top: 20px; margin-right: 100px" align="justify"><font size="4">Мы создаем интерьеры для
            счастливой жизни!</font></p>
        <p style="margin-left: 170px"><font size="3">Мария Турчинович</font></p>
        <p style="margin-top: -15px;margin-left: 119px"><font size="3">дизайнер и руководитель студии,</font></p>
        <p style="margin-top: -20px;margin-left: 113px"><font size="3">веб-дизайнер и разработчик сайта</font></p>

        <hr class="clr" style="margin-top: 40px">
        <p style="margin-top: 40px; margin-left: 98px; margin-bottom: 30px" align="justify" ><font size="6">Почему клиенты выбирают нас?</font></p>
        <img style="margin-left: 100px; margin-top: 5px" src="{% static 'main/img/about_us_1.jpg'%}" width="300" alt="about_us_1" align="left" >
        <p style="margin-top: 45px; margin-right: 100px; margin-left: 480px" align="justify" ><font size="5">Дизайн европейского уровня:</font></p>
        <p style="margin-top: 20px; margin-right: 100px; margin-left: 480px" align="justify"><font size="4">Мы любим качество и серьезно
            заботимся о высоком уровне дизайна и стандартов работы студии. Мы в тренде модных тенденций, постоянно
            совершенствуемся, расширяем горизонты, путешествуя и посещая иностранные выставки и семинары. Наша цель
            создать для вас уникальный, удобный, эффектный интерьер, отражающий все ваши пожелания и модные тенденции в
            дизайне интерьера.</font></p>

        <img vspace="50" hspace="100" src="{% static 'main/img/about_us_2.jpg'%}" width="300" alt="about_us_2" align="right" >
        <p style="margin-top: 110px; margin-left: 98px" align="justify" ><font size="5">Реализуемый интерьер:</font></p>
        <p style="margin-top: 30px; margin-left: 98px; margin-right: 490px" align="justify"><font size="4">Создать эффектный интерьер - это
            еще даже не половина дела. Основная часть для реализации - это подробнейший рабочий проект регламентирующий
            работы строителей, спроектированный исключительно на ваш бюджет: с полным подбором и подсчетом отделочных
            материалов и мебели, цен и мест где их можно приобрести. Каждая розетка, плинтус и светильник в нашем
            проекте посчитаны и имеют цену.</font></p>

        <img style="margin-left: 100px; margin-top: 110px" src="{% static 'main/img/about_us_3.jpg'%}" width="300" alt="about_us_3" align="left" >
        <p style="margin-top: 125px; margin-right: 200px; margin-left: 480px" align="justify" ><font size="5">Перепланировка квартиры с
            учетом всех эргономических норм, функциональных особенностей и норм БТИ:</font></p>
        <p style="margin-top: 20px; margin-right: 100px; margin-left: 480px" align="justify"><font size="4">Планировка - это скелет будущего
            интерьера, она должна отражать все ваши пожелания, грамотно превращать недостатки помещения в его интересные
            особенности, быть функциональной, уютной и удобной для ежедневного проживания. А еще планировка должна быть
            узаконена в надзорных органах, поэтому, проектируя пространство, необходимо соблюдать баланс из всех
            переменных. </font></p>


        <img style="margin-right: 100px; margin-top: 90px" src="{% static 'main/img/about_us_4.jpg'%}" width="300" alt="about_us_4" align="right" >
        <p style="margin-top: 100px; margin-left: 98px; margin-right: 500px" align="left" ><font size="5">Комплетация 100%</font></p>
        <p style="margin-top: 20px; margin-left: 98px; margin-right: 500px" align="justify"><font size="4">Все отделочные материалы и мебель
            будут выбраны и согласованы с вами в процессе создания дизайн-проекта. Комплектация выполняется только в
            соответствии с бюджетом заказчика. На момент комплектации по каждому материалу и мебели уточняется наличие,
            сроки доставки и возможные аналоги. Все материалы считаются с необходимыми запасами в соответствии со
            строительными нормами. Данные по каждой позиции отражаются в спецификации, в ней вы увидите: артикул, цвет,
            количество с запасом, цену и место продажи по самой низкой цене.</font></p>

        <img style="margin-left: 100px; margin-top: 105px" src="{% static 'main/img/about_us_5.jpg'%}" width="300" alt="about_us_5" align="left" >
        <p style="margin-top: 108px; margin-left: 480px" ><font size="5">Готовый объект с экономией
            времени, денег и нервов:</font></p>
        <p style="margin-top: 20px; margin-right: 100px; margin-left: 480px" align="justify"><font size="4">Чтобы сделать процесс ремонта
            прозрачным и управляемым, - необходим четкий план ремонта (дизайн-проект), профессиональная команда
            (строительная бригада), проверенные временем подрядчики (окна, системы кондиционирования и вентиляции,
            сантехнические системы, электромонтаж, "умный дом", кухонные и мебельные студии), грамотный и своевременный
            контроль и координирование всех работ (авторский надзор). Такой подход и является гарантией экономии времени,
            денег, нервов и получения планируемого результата. Мы берем на себя весь комплекс услуг от и до. </font></p>


    </div>
    <p></p>
{% endblock %}