{% extends 'main/base.html' %}
{% load static %}

{% block title %}Услуги и цены{% endblock %}

{% block content %}
    <div class="container">
  <header>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <p class="display-4 fw-normal"><font size="10">Услуги и цены</font> </p>
      <p class="fs-5 text-muted" style="margin-top: 20px">В этом разделе вы можете ознакомиться с нашими услугами. Всего существует 6 вариантов
          сотрудничества с нами.</p>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col" style="width: 420px; margin-left: 10px; margin-top: 10px">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3" style="background-color: #B8C5CB">
            <h4 class="my-0 fw-normal">Планировка</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">от 440 ₽/м²</h1>
              <hr color="#B8C5CB">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Нужна грамотная планировка и расстановка мебели</li>
                <hr color="#B8C5CB">
              <li>План монтажа/демонтажа перегородок</li>
              <li style="margin-top: 10px">План расстановки мебели и оборудования в 3-х вариантах</li>
            </ul>
          </div>
        </div>
      </div>

    <div class="col" style="width: 420px; margin-left: -100px; margin-top: 10px">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" style="background-color: #B8C5CB">
        <h4 class="my-0 fw-normal">Технический проект</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">от 1500 ₽/м²</h1>
          <hr color="#B8C5CB">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Для тех, кто хочет самостоятельно контролировать ремонт самостоятельно</li>
            <hr color="#B8C5CB">
          <li>Консультация дизайнера</li>
          <li style="margin-top: 10px">Базовый рабочий проект и "белая визуализация"</li>
        </ul>
      </div>
    </div>
  </div>

    <div class="col" style="width: 420px; margin-left: -100px; margin-right: -50px; margin-top: 10px">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" style="background-color: #B8C5CB">
        <h4 class="my-0 fw-normal">Базовый</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">от 1560 ₽/м²</h1>
          <hr color="#B8C5CB">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Концепия есть, но нужнаы чертежи для строителей</li>
            <hr color="#B8C5CB">
          <li>Комплект чертежей для строителей</li>
          <li style="margin-top: 10px">Подбор отделочных материалов для реализации базовых нужд</li>
        </ul>
      </div>
    </div>
  </div>

    </div>

  </main>


    <main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col" style="width: 420px; margin-left: 10px; margin-top: 20px">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3" style="background-color: #B8C5CB">
            <h4 class="my-0 fw-normal">Оптимальный</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">от 2400 ₽/м²</h1>
              <hr color="#B8C5CB">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Нужен полный дизайн проект со всеми чертежами и подбор материалов</li>
                <hr color="#B8C5CB">
              <li>3D визуализация основных помещений</li>
              <li style="margin-top: 10px">Побор мебели, светильников, текстиля, отделочного материала </li>
            </ul>
          </div>
        </div>
      </div>

    <div class="col" style="width: 420px; margin-left: -100px; margin-top: 20px">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" style="background-color: #B8C5CB">
        <h4 class="my-0 fw-normal">Стандарт +</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">от 4200 ₽/м²</h1>
          <hr color="#B8C5CB">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Нужен полный дизайн проект и вам некогда заниматься стройкой и закупками</li>
            <hr color="#B8C5CB">
          <li>Расчёт бюджета</li>
          <li style="margin-top: 5px">Снабжение</li>
              <li style="margin-top: 5px">Авториский надзор</li>
        </ul>
      </div>
    </div>
  </div>

    <div class="col" style="width: 420px; margin-left: -100px; margin-right: -50px; margin-top: 20px">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3" style="background-color: #B8C5CB">
        <h4 class="my-0 fw-normal">Премиум</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">от 5640 ₽/м²</h1>
          <hr color="#B8C5CB">
        <ul class="list-unstyled mt-3 mb-4">
          <li>Вы хотите получить все услуги, которые мы можем предложить</li>
            <hr color="#B8C5CB">
          <li>Декорирование</li>
          <li style="margin-top: 10px">Детальные 3D визуализации основных помещений</li>
        </ul>
      </div>
    </div>
  </div>

    </div>

  </main>

</div>
<hr class="clr" style="margin-top: 50px; height: 2px">

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <p class="display-4 fw-normal" style="margin-right: 100px; margin-left: 100px" align="center"><font size="6.5">Сроки разработки
          дизайн-проекта интерьера квартиры или дома</font></p>
      <p class="fs-5 text-muted" style="margin-top: 20px; margin-right: 100px; margin-left: 100px" align="justify">Сроки
          нашей работы зависят от площади и глубины проработки объекта. Для примера, 1-комнатную квартиру мы
          спроектируем с визуализациями за 4 недели, разработка дизайн проекта интерьера 3-комнатной квартиры займет 8
          недель. Дизайн проект интерьера дома от 400 м² ориентировочно проектируется (в обычном неспешном режиме) от
          полугода. Если скорость принятия решений невысокая, то дизайн проект может растянуться по срокам, но время
          нашей работы жестко оговорено в договоре. Если Вам необходимо начать стройку раньше, чем наша студия закроет
          дизайн проект интерьера дома или квартиры, то это возможно. Все нюансы мы обговариваем при обращении.</p>
    </div>

{% endblock %}