{% extends 'main/base.html' %}
{% load static %}

{% block title %}Проекты{% endblock %}

{% block content %}
    <div class="features" style="vertical-align: text-top">
        <h4 align="left" style="text-indent: 1%">ПРОЕКТЫ</h4>
        <h5 align="left" style="text-indent: 1%">В этом разделе вы можете ознакомиться с основными нашими работами</h5>
    </div>
    <div align="center">
        <p></p>
        <img src="{% static 'main/img/project_1.JPG'%}" width="372" alt="project_1">
        <img src="{% static 'main/img/project_2.JPG'%}" width="372" alt="project_2">
        <img src="{% static 'main/img/project_3.JPG'%}" width="372" alt="project_3">
        <img src="{% static 'main/img/project_4.JPG'%}" width="372" alt="project_4">
        <h1></h1>
        <img src="{% static 'main/img/project_5.JPG'%}" width="372" alt="project_5">
        <img src="{% static 'main/img/project_6.JPG'%}" width="372" alt="project_6">
        <img src="{% static 'main/img/project_7.JPG'%}" width="372" alt="project_7">
        <img src="{% static 'main/img/project_8.PNG'%}" width="372" alt="project_8">
        <h1></h1>
        <img src="{% static 'main/img/project_9.JPG'%}" width="372" alt="project_9">
        <img src="{% static 'main/img/project_10.JPG'%}" width="372" alt="project_10">
        <img src="{% static 'main/img/project_11.JPG'%}" width="372" alt="project_11">
        <img src="{% static 'main/img/project_12.JPG'%}" width="372" alt="project_12">
    </div>

{% endblock %}

